* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}

.page {
  display: flex;
}

header {
  border-right: 5px solid white;
  z-index: 999;
  display: flex;
  flex-direction: column;
  min-width: 180px;
  position: sticky;
  top: 0;
  left: 0;
  background: linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  background: -moz-linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  background: -o-linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  background: -webkit-linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
}

.fullscreen-sticky {
  position: sticky;
  top: 0;
  left: 0;
}

.banner-menu-btn-wrapper {
  min-height: 128px;
  display: flex;
  align-items: center;
}

.banner-wrapper {
  padding: 1rem;
}

.banner {
  background-color: #00000020;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;

  border-radius: 1rem;
  padding: 0.5rem;
  max-width: 180px;
  display: flex;
}

.banner:hover {
  background-color: #00000050;
}

.banner > a {
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
}

.banner > a > img {
  padding-bottom: 1rem;
}

.banner > a > span {
  color: black;
}

.small-screen-btn {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  border: none;
  background-color: inherit;
  box-shadow: 2px 2px 2px black;
  padding: 0.5rem;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  margin-left: auto;
  margin-right: 1rem;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.small-screen-btn:hover {
  background-color: #00000020;
}

.small-screen-btn:active {
  transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  -webkit-transform: scale(0.95);
}

.nav-menu > span {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  background: -moz-linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  background: -o-linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  background: -webkit-linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  border-radius: 5px;
}

.nav-menu > ul {
  list-style: none;
}

.nav-menu > ul > li {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 5px;
  background: linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  background: -moz-linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  background: -o-linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  background: -webkit-linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  overflow: hidden;
  margin-top: 0.2rem;
}

.nav-menu > ul > li > a{
  color: black;
  text-decoration: none;
  padding: 0.5rem 0 0.5rem 5px;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;


}

.nav-menu > ul > li > a:hover {
  background-color: #00000020;

}

@media screen and (max-width: 500px) {
  header {
    border-right: none;
  }

  .page {
    flex-direction: column;
  }

  .banner > a {
    font-size: 1rem;
    display: flex;
    align-items: center;
  }

  .banner > a > img {
    max-width: 80px;
    padding-bottom: 0;
  }

  .nav-menu {
    border-bottom: 5px solid white;
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 128px;
    padding: 0.2rem 0;

    background: linear-gradient(
      36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
    );
    background: -moz-linear-gradient(
      36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
    );
    background: -o-linear-gradient(
      36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
    );
    background: -webkit-linear-gradient(
      36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
    );
  }

  .small-screen-btn {
    display: flex;
  }
}

.menu-visible {
  display: block;
}

.disable-scroll {
  overflow: hidden;
}

main {
  flex-grow: 1;
  background: linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  background: -moz-linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  background: -o-linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  background: -webkit-linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
}

main > section {
  margin-top: 1rem;
  padding: 0 0.5rem 1rem 0.5rem;
}

.flex-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 5px solid white;
  background: linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  background: -moz-linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  background: -o-linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
  background: -webkit-linear-gradient(
    36deg, rgba(138,35,135,1) 0%, rgba(242,113,33,1) 50%, rgba(233,64,87,1) 100%
  );
}

footer > .footer-span-wrapper {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
}

footer > .footer-span-wrapper > span {
  margin-bottom: 0.5rem;
}

#toggle-custom-scroll-window {
  transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;

  border: none;
  background-color: transparent;
  box-shadow: 2px 2px 2px black;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

#toggle-custom-scroll-window:hover {
  background-color: #00000020;
}

#toggle-custom-scroll-window:active {
  transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  -webkit-transform: scale(0.95);
}