.learnLangCard {
  width: 12rem;
  height: 10rem;
  border: 1px solid #bbbbbb;
  padding: 1rem 1rem;
  border-radius: 1rem;
}
.learnLangCard>h1 {
  margin-bottom: 1rem;
  border-bottom: 1px solid #bbbbbb;
}

.plang {
  display: flex;
  padding-left: 5px;
  width: min-content;
}

.symbolWrapper {
  transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  -webkit-transition: 0.15s ease-in-out;
  position: relative;
  width: 45px;
  height: 45px;
}

.hovered {
  margin: 0px 5px 5px 5px !important;
  transform: rotateZ(-15deg) !important;
  -moz-transform: rotateZ(-15deg) !important;
  -ms-transform: rotateZ(-15deg) !important;
  -webkit-transform: rotateZ(-15deg) !important;
  -o-transform: rotateZ(-15deg) !important;
}

/* ------------------------------------------------------- */
/* distort their positions */
.symbolWrapper:first-child {
  margin: auto 5px 0 0;

  transform: rotateZ(-5deg);
  -moz-transform: rotateZ(-5deg);
  -ms-transform: rotateZ(-5deg);
  -o-transform: rotateZ(-5deg);
  -webkit-transform: rotateZ(-5deg);
}

.symbolWrapper:nth-child(2) {
  margin: auto 5px 0 0;
  transform: rotateZ(5deg);
  -moz-transform: rotateZ(5deg);
  -ms-transform: rotateZ(5deg);
  -o-transform: rotateZ(5deg);
  -webkit-transform: rotateZ(5deg);
}

.symbolWrapper:last-child {
  margin: auto 0 0 0;

  transform: rotateZ(5deg);
  -moz-transform: rotateZ(5deg);
  -ms-transform: rotateZ(5deg);
  -o-transform: rotateZ(5deg);
  -webkit-transform: rotateZ(5deg);
}
/* ------------------------------------------------------- */
.symbol {
  color: #bbbbbb;
  position: relative;
  display: flex;
  width: 45px;
  height: 45px;
  z-index: 2;
}

.symbol>:first-child {
  font-size: 2rem;
  margin: auto;
}

.square {
  opacity: 0.35;
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
}

.row {
  display: flex;
  width: 45px;
  height: 15px;
}

.row1, .row2, .row3 {
  display: block;
  width: 15px;
  height: 15px;
}

/* ------------------------------------------------------ */
/* add NO duplicate borders */
.row1, .row2, .row3 {
  border-right: 1px solid #929292;
  border-bottom:  1px solid #929292;
}

.row1 {
  border-top: 1px solid #929292;
}

.row1:first-child,
.row2:first-child, 
.row3:first-child {
  border-left: 1px solid #929292;
}

/* ------------------------------------------------------ */
/* round edges */
.row1:first-child {
  border-top-left-radius: 0.5rem;
}

.row1:last-child {
  border-top-right-radius: 0.5rem;
}

.row3:first-child {
  border-bottom-left-radius: 0.5rem;
}

.row3:last-child {
  border-bottom-right-radius: 0.5rem;
}